# Logging level
LOGGING_LEVEL="INFO"

# Base URL for all API endpoints
BASE_URL="https://nucleus-latest.anacondaconnect.com"

# Oauth credentials/settings for the legacy IAM service
IAM_AUTH_DOMAIN="nucleus-latest.anacondaconnect.com/api/iam"
IAM_AUTH_ENDPOINT="https://nucleus-latest.anacondaconnect.com/authorize"
IAM_CLIENT_ID="cloud-cli-test-4"
IAM_CLIENT_SECRET="TPm0c0bdMDy2ngivuHIB95Hvurv999x9smdLxv2EmpKo30kS6ku3wGx183dmgcuc"

# Oauth credentials/settings for the new Ory IAM service
ORY_AUTH_DOMAIN="dev.id.anaconda.cloud"
ORY_CLIENT_ID="83d245e3-6312-4f44-9298-1f5b32a13769"
