name: test

on:
  pull_request:
  merge_group:
  workflow_call:

jobs:
  test:
    name: Python ${{ matrix.python-version }}
    runs-on:
      labels: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.9", "3.10", "3.11", "3.12", "3.13", "3.13-pendingdeprecations" , "3.14" ]
    continue-on-error: ${{ matrix.python-version == '3.13-pendingdeprecations' }}  # Allow soft failures
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ startsWith(matrix.python-version, '3.13-') && '3.13' || matrix.python-version }}
      - name: Install testing dependencies
        run: |
          python -m pip install tox
      - name: Test with tox
        env:
          CE_TOKEN: ${{ secrets.TEST_REPO_TOKEN }}
          PYTEST_ARGS: ${{ contains(matrix.python-version, 'pendingdeprecations') && '--error-on-pending-deprecations' || '' }}
        run: |
          tox -- $PYTEST_ARGS

  build-conda-package:
    name: Build conda package
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
          with:
            fetch-depth: 0
        - name: Create build environment
          run: |
            source $CONDA/bin/activate
            conda create -n build --file ./etc/build.linux-64.lock
        - name: conda build
          run: |
            source $CONDA/bin/activate && conda activate build
            mkdir -p ./conda-bld
            VERSION=`hatch version` \
            conda build \
              -c conda-forge \
              -c defaults \
              -c anaconda-cloud \
              --override-channels \
              conda.recipe \
              --output-folder ./conda-bld
        - name: Upload the build artifact
          uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
          with:
            name: conda-${{ github.sha }}
            path: ./conda-bld
            if-no-files-found: error
            retention-days: 7

  build-wheel:
    name: Build the wheel
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.14"
      - name: Install build dependencies
        run: pip install build
      - name: Build the package
        run: python -m build
      - name: Upload the build artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: wheel-${{ github.sha }}
          path: dist/*
          if-no-files-found: error
          retention-days: 7

  # This check job runs to ensure all tests and builds have passed, such that we can use it as a "wildcard"
  # for branch protection to ensure all tests pass before a PR can be merged.
  check:
    name: Check all tests passed
    if: always()
    needs: [test, build-conda-package, build-wheel]
    runs-on: ubuntu-latest
    steps:
    - name: Decide whether all required jobs succeeded or failed
      uses: re-actors/alls-green@release/v1
      with:
        jobs: ${{ toJSON(needs) }}
